services:
  # =========================
  # Nginx (The Entry Point)
  # =========================
  nginx:
    image: nginx:alpine
    container_name: tafahom-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/app/staticfiles  # Reads the files backend collected
    depends_on:
      - backend
    restart: unless-stopped

  # =========================
  # Backend (Django + Channels)
  # =========================
  backend:
    container_name: tafahom-backend
    build:
      context: .
    env_file:
      - .env.prod
    environment:
      ENVIRONMENT: PROD
    command: >
      sh -c "
      cd src &&
      python manage.py migrate &&
      daphne -b 0.0.0.0 -p 8000 tafahom_api.asgi:application
      "
    # Port 8000 removed. Only Nginx needs to talk to this.
    volumes:
      - static_volume:/app/staticfiles
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    restart: unless-stopped

  # =========================
  # PostgreSQL
  # =========================
  postgres:
    image: postgres:17-alpine
    container_name: tafahom-postgres
    env_file:
      - .env.prod
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U tafahom -d asl_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped



  # =========================
  # Redis (Channels)
  # =========================
  redis:
    image: redis:7-alpine
    container_name: tafahom-redis
    restart: unless-stopped

volumes:
  postgres_data:
  static_volume: