services:
  # =========================
  # Nginx (Entry Point)
  # =========================
  nginx:
    image: nginx:alpine
    container_name: tafahom-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
      - static_volume:/app/staticfiles
    depends_on:
      - backend
    restart: unless-stopped

  pgadmin:
  image: dpage/pgadmin4
  container_name: tafahom-pgadmin
  environment:
    PGADMIN_DEFAULT_EMAIL: admin@tafahom.com
    PGADMIN_DEFAULT_PASSWORD: admin123
  ports:
    - "5050:80"
  depends_on:
    - postgres

  # =========================
  # Backend (Django + Daphne)
  # =========================
  backend:
    container_name: tafahom-backend
    build:
      context: .
    env_file:
      - .env.prod
    environment:
      DJANGO_SETTINGS_MODULE: tafahom_api.settings.base
      ENVIRONMENT: PROD
    command: >
      sh -c " python src/manage.py migrate && python src/manage.py collectstatic --noinput && daphne -b 0.0.0.0 -p 8000 tafahom_api.asgi:application "
    volumes:
      - static_volume:/app/staticfiles
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    restart: unless-stopped

  # =========================
  # PostgreSQL
  # =========================
  postgres:
    image: postgres:17-alpine
    container_name: tafahom-postgres
    env_file:
      - .env.prod
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U tafahom -d asl_db" ]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  # =========================
  # Redis (Channels)
  # =========================
  redis:
    image: redis:7-alpine
    container_name: tafahom-redis
    restart: unless-stopped

volumes:
  postgres_data:
  static_volume:
